<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41127822883-rrh3mv79faacst5cblvbua9agl0v6v3e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41127822883-rrh3mv79faacst5cblvbua9agl0v6v3e</string>
	<key>API_KEY</key>
	<string>AIzaSyBMBFAM9qWismHYSCndytySzVgCClgQpAg</string>
	<key>GCM_SENDER_ID</key>
	<string>41127822883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lms.learningApp</string>
	<key>PROJECT_ID</key>
	<string>learning-app-82359</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-app-82359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41127822883:ios:86a83f0c5f731898851396</string>
</dict>
</plist>